In [7]:
from sqlalchemy import create_engine
import pandas as pd

In [8]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/ttc_db')

In [9]:
conn = engine.connect()

In [10]:
df = pd.read_sql("SELECT * FROM bus_delay_2022", conn)

In [11]:
df.head()

,date,route,time,day,location,incident,min_delay,min_gap,direction,vehicle
0,2022-01-01,320,02:00:00,Saturday,YONGE AND DUNDAS,General Delay,0,0,None,8531
1,2022-01-01,325,02:00:00,Saturday,OVERLEA AND THORCLIFFE,Diversion,131,161,W,8658
2,2022-01-01,320,02:00:00,Saturday,YONGE AND STEELES,Operations - Operator,17,20,S,0
3,2022-01-01,320,02:07:00,Saturday,YONGE AND STEELES,Operations - Operator,4,11,S,0
4,2022-01-01,320,02:13:00,Saturday,YONGE AND STEELES,Operations - Operator,4,8,S,0